@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap");
body{
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.nav-links-border {
  border-right: 1.5px solid #1f2123;
}

.nav-border {
  border-bottom: 1.5px solid #1f2123;
}
.footer-border{
  border-top: 1.5px solid #1f2123;
}
.classic-border {
  border: 1.5px solid #ffffff;
}
.sidebar-anchor {
  @apply flex  font-kumbh  gap-3 px-5 py-3  rounded-lg items-center  cursor-pointer text-[#CFD0D0] ;
}
.sidebar-links {
  @apply font-[500] mt-[0.3rem] ;
}
.sidebar-diff-links {
  @apply flex gap-3 font-kumbh  pl-4 py-3 rounded-lg items-center justify-between cursor-pointer text-[#CFD0D0];
}
.sidebar-attach {
  @apply float-right  font-kumbh font-[600] w-[24px] h-[24px] flex items-center justify-center rounded-[4px];
}
.sidebar-placeholder{
  @apply font-kumbh font-[600]
}
.links-holder{
  @apply flex flex-col mt-4 gap-3
}
.active{
  @apply bg-[#1c2023] text-white  flex  font-kumbh  gap-3 px-5 py-3  rounded-lg items-center  cursor-pointer 
}
.hero-text-h1{
  @apply font-kumbh leading-[4.4rem] font-[700] text-[2.7rem] text-white
}
.hero-text-p{
  @apply font-kumbh leading-[2.5rem] font-[500] text-[1.15rem] text-white mt-4
}
.ps-p{
  @apply font-kumbh leading-[2.4rem] font-[500] text-[1.15rem] text-grey
}
.scroll-container {
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent; 
}
.btn-1{
   @apply font-kumbh bg-[#FFBD6A] rounded-[6px] text-[0.9rem] w-[15.3rem] font-[700] h-[3.36rem] flex items-center justify-center
}
.btn-2{
   @apply font-kumbh border border-[#FFBD6A] rounded-[6px] text-[0.9rem] w-[15.3rem] font-[700] h-[3.36rem] flex items-center bg-transparent justify-center text-[#FFBD6A]
}
.bg-skills{
  @apply flex items-center justify-center text-[#111315] font-kumbh text-[0.9rem] rounded-[8px] h-[3rem] font-[600]
}